.eventos {
  min-height: 100vh;
  background: #f9f9fb;
  padding: 1rem 7rem;
}

.eventos-container{
  max-width: 1100px;
  margin: 0 auto;
}

.eventos-title {
  font-size: 24px;
  font-weight: bold;
  color: #4f46e5; /* color indigo-600 */
  margin-bottom: 24px;
}

.eventos-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

@media (min-width: 768px) {
  .eventos-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.evento-card {
  border: 1px solid #5c3ef9;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 15px;
  padding: 24px;
}

.evento-titulo {
  color: #5c3ef9;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}

.evento-info {
  color: #4b5563; /* gris */
  margin-bottom: 8px;
}

.evento-descripcion {
  color: #374151;
  margin-top: 8px;
}

.evento-btn {
  color: #5c3ef9;
  padding: 8px 20px;
  border-radius: 15px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  display: inline-block;
  border: 1px solid #5c3ef9;
}

.evento-btn:hover {
  color: #ffffff;
  background: #4a2fe2;
}

