.nav-bar {
  background: #f9f9fb;
  padding: 16px 24px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-bar_container{
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  height: 40px;
  margin-right: 12px;

}

.nav-links {
  display: flex;
  gap: 16px;
}

.nav-links button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #000000c4; /* gris base */
  display: flex;
  align-items: center;
}

.nav-links button .icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.nav-links button.active {
  color: #5c3ef9; /* indigo-600 */
  font-weight: bold;
}

.nav-user {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;
  color: #4f46e5;
}

.login-btn {
  color: #5c3ef9;
  padding: 8px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  display: inline-block;
  border: 1px solid #5c3ef9;
}

.login-btn:hover {
  color: #ffffff;
  background: #4a2fe2;
}