.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #31105c, #633c8a);
  padding: 16px 24px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.nav-logo {
  height: 40px;
  margin-right: 12px;

}

.nav-links {
  display: flex;
  gap: 16px;
}

.nav-links button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #e2e2e2; /* gris base */
  display: flex;
  align-items: center;
}

.nav-links button .icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.nav-links button.active {
  color: #000000; /* indigo-600 */
  font-weight: bold;
}

.nav-user {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;
  color: #4f46e5;
}

.login-btn {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 12px 24px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
}

.login-btn:hover {
  background-color: #4338ca; /* un poco más oscuro al hover */
  color: #ffffff;
  transition: background-color ease-in-out 0.2s;
}
