/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #111;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Links generales */
a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: #000;
}


/* Secciones globales */
section {
  padding: 4rem 2rem;
}

/* Títulos globales */
h1, h2, h3, h4 {
  font-weight: 600;
  color: #111;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

